:root {
    --marfim: rgba(255, 255, 240, 1);
    --ciano: #1B98E0;
    --azulOceano: #1B1BE0;
    --azulPrincipal: #1B59E0;
    --destaqueCiano: #1BD6E0;
    --destaqueRoxo: #5B1BE0;
    --azulPastel: #668DE0;
    --cinzaEscuro: #2C302F;
}

* {
    background-color: var(--marfim);
    font-family: "Mako", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-radius: 25px;
    color: #2C302F;
}