:root {
    --marfim: rgba(255, 255, 240, 1);
    --ciano: #1B98E0;
    --azulOceano: #1B1BE0;
    --azulPrincipal: #1B59E0;
    --destaqueCiano: #1BD6E0;
    --destaqueRoxo: #5B1BE0;
    --azulPastel: #668DE0;
    --cinzaEscuro: #2C302F;
}

* {
    background-color: var(--marfim);
    font-family: "Mako", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-radius: 25px;
    color: #2C302F;
}
header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 10vh;
    width: 0 auto;
}
.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin: 15px;
}
.logo img {
    height: 60px;
    width: 60px;
}
.logo h1 {
    font-family: "Salsa", cursive;
    font-size: 35px;
    text-transform: uppercase;
    background: linear-gradient(to right, #1B59E0 25%, #2C302F 25%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}
header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    gap: 35px;
}
header nav ul li {
    list-style: none;
}
header nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}
header nav ul li a:hover {
    color: var(--azulPrincipal);
}
header button {
    margin: 15px;
    font-size: 18px;
    background-color: var(--cinzaEscuro);
    color: var(--marfim);
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    width: 70px;
}
header button:hover {
    background-color: var(--azulPrincipal);
    border: none;
}
.heroSection {
    margin: 15px;
    height: auto;
    width: auto;
}
.heroPrincialDiv {
    background: 
    linear-gradient(to right, rgba(27, 214, 224, 1), rgba(27, 214, 224, 0)), url('../assets/vista-destino-de-viagem-da-janela-aviao.jpg');
    background-size: cover;
    background-position: center;
    height: 85vh;
    margin: 0px;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
}
.heroPrincialDiv h3 {
    margin-left: 30vh;
    background: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 0;
}
.heroDiv {
    margin-left: 30vh;
    background: none;
    display: flex;
    flex-direction: column;
    gap: 0;
}
.heroDiv h1 {
    font-family: "Salsa", cursive;
    font-size: 75px;
    text-transform: uppercase;
    background: none;
    font-weight: 900;
    margin: 0;
}
.heroSection button {
    margin-left: 30vh;
    font-size: 20px;
    text-transform: uppercase;
    background-color: var(--azulPrincipal);
    color: var(--marfim);
    border: none;
    cursor: pointer;
}
.heroSection button:hover {
    background-color: var(--marfim);
    color: var(--azulPrincipal);
}
.discoverySection {
    margin: 15px;
    display: flex;
    flex-direction: column;
}
.discoverySection nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    text-transform: uppercase;
    margin: 40px;
    height: 1vh;
}
.discoverySection h4 {
    font-weight: 700;
}
.discoverySection p {
    font-weight: 700;
    border: 2px solid var(--marfim);
    padding: 3px;
}
.discoverySection p:hover {
    border: 2px solid var(--azulPrincipal);
    color: var(--azulPrincipal);
}
.discovery {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.discovery h1 {
    font-family: "Salsa", cursive;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
}
.discovery img {
    height: 30px;
    width: auto;
    padding: 10px;
    cursor: pointer;
}
.rightArrow {
    background-color: var(--azulPrincipal);
}
.places {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.local img {
    height: 70vh;
}
.local div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.local button {
    background-color: var(--azulPrincipal);
    border: none;
    color: var(--marfim);
    text-transform: capitalize;
    cursor: pointer;
}
.local button:hover {
    background-color: var(--azulOceano);
}
.valuePropositionSection {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 15px;
    gap: 0;
}
.valuePropositionSection h1 {
    font-family: "Salsa", cursive;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
}
.valuePropositionSection p {
    text-transform: capitalize;
    font-size: 18px;
}
.items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30vh;
}
.card {
    height: 70vh;
    background-color: #1B1BE0;
    width: 50vh;
}
.discountsSection {
    display: flex;
    gap: 15vh;
    align-items: center;
    margin: 15px;
    margin-top: 20vh;
}
.discountsSection aside {
    align-items: start;
    flex-direction: column;
}
.discountsSection aside img {
    height: 100vh;
}
.headLine {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vh;
    border: 2px solid var(--azulOceano);
    flex-direction: column;
}
.headLine p:nth-child(1)  {
    font-family: "Salsa", cursive;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
}
